{% include 'header.html' %}
<h4>Pipeline {{pipeline.id}}</h4>

<div>Status: {{pipeline.status}}</div>
<h3>Jobs</h3>
<table class="ui celled table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Stage</th>
        </tr>
    </thead>
    <tbody>
{% for job in jobs %}
    <tr>
        <td><i class="{{job.icon}} icon"></i><a href="/projects/{{project}}/jobs/{{job.id}}">{{job.id}} {{job.name}}</a></td>
        <td>{{job.status}}</td>
        <td>{{job.stage}}</td>
    </tr>
{%endfor%}
    </tbody>
</table>

{{xunit}}
{% include 'footer.html' %}
