{% extends 'base.html' %}

{% block content %}

    <div class="ui breadcrumb">
        <a class="section" href="/">Groups</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="/groups/{{project.namespace.id}}">{{project.namespace.name}}</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="/projects/{{project.id}}">{{project.name}}</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="/projects/{{project.id}}/pipelines/{{pipeline.id}}">{{pipeline.id}}</a>
    </div><br><br>

    <div class="ui stackable grid">
        <div class="three wide column">
            <h4>Jobs</h4>
            <div class="ui vertical secondary menu">
                {% for jobitem in jobs.data %}
                    <a name="job" class="item {{'active' if job.id == jobitem.id }}" href="?job={{jobitem.id}}">
                        <i class="{{jobitem.status}} icon"></i>
                        {{jobitem.name}}
                    </a>
                {% endfor %}
            </div>
            {% set pagination = jobs.pagination %}
            {% include 'pagination.html' %}
        </div>

        <div class="thirteen wide column">
            <div class="ui compact small right floated menu">
                {% if unithtml %}
                    <a name="view" class="item active" data-tab="html-tab">HTML</a>
                {% endif %}
                <a name="view" class="item {{'active' if not unithtml }}" data-tab="raw-tab">Raw</a>
            </div><br><br>

            <div class="ui container" style="width:100% !important">
                {% if unithtml %}
                    <div class="ui tab active" data-tab="html-tab">
                        {{unithtml|safe}}
                    </div>
                {% endif %}
                <div class="ui tab {{'active' if not unithtml }}" data-tab="raw-tab">
                    <div class="ui basic segment">
                        <h2>{{job.name|title}}</h2>
                        <div class="ui inverted segment content">
                            <pre><code>{{trace|safe}}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





