{% extends 'base.html' %}
{% block content %}
    <div class="ui breadcrumb">
        <a class="section" href="/">Groups</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="/groups/{{project.namespace.id}}">{{project.namespace.name}}</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="/projects/{{project.id}}">{{project.name}}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">Pipelines</div>
    </div><br><br>

    <table class="ui very basic table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Branch</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for pipeline in pipelines.data %}
                <tr>
                    <td>
                        <a href="/projects/{{project.id}}/pipelines/{{pipeline.id}}">#{{pipeline.id}}</a>
                    </td>
                    <td>{{pipeline.ref}}</td>        
                    <td class="collapsing">
                        <i class="{{pipeline.status}} icon"></i>
                        {{pipeline.status|title}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set pagination = pipelines.pagination %}
    {% include 'pagination.html' %}

{% endblock %}
